{{ define "main" }}
<header id="about-header">
    <div class="bcg" 
    data-top-bottom="background-position: 50% -100px;" 
    data-bottom-top="background-position: 50% 100px;" 
    data-anchor-target="#about-header"> 
    <div class="overlay"></div> 

        <div class="caption">
            <div class="container">
                <h2>À propos</h2>
                <h1>Reseau de Cablage informatique& fibre optique</h1>
            </div>
        </div>
        <!-- // caption  -->

    </div>
    <!-- // bcg  -->
</header>
<!-- // about header  -->

<div id="about-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>Welcome to PlainSelect</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem qui vel nostrum debitis, inventore labore incidunt, hic, vitae itaque laboriosam harum sit. Adipisci iusto voluptatibus ut deleniti! Dolores, blanditiis molestias!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime tenetur minima earum. Deleniti, dicta, dignissimos.</p>
            </div>
        </div>
        <!-- // row  -->
    </div>
    <!-- // container  -->
</div>
<!-- // about intro  -->

<div id="vision">
    <div class="container">
        <div class="row">
            
            <div class="col-sm-3">
                <div class="vision-box">
                    <div class="image-holder">
                        <img srcset="/img/ico/why1.svg"  alt="" class="svg">
                    </div>
                    <!-- // image holder  -->
                    <div class="content">
                        <h4>01. Think</h4>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                    </div>
                </div>
            </div>
            <!-- // vision box  -->

            <div class="col-sm-3">
                <div class="vision-box">
                    <div class="image-holder">
                        <img srcset="/img/ico/why2.svg"  alt="" class="svg">
                    </div>
                    <!-- // image holder  -->
                    <div class="content">
                        <h4>01. Plan</h4>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                    </div>
                </div>
            </div>
            <!-- // vision box  -->

            <div class="col-sm-3">
                <div class="vision-box">
                    <div class="image-holder">
                        <img srcset="/img/ico/why3.svg"  alt="" class="svg">
                    </div>
                    <!-- // image holder  -->
                    <div class="content">
                        <h4>03. Create</h4>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                    </div>
                </div>
            </div>
            <!-- // vision box  -->

            <div class="col-sm-3">
                <div class="vision-box">
                    <div class="image-holder">
                        <img srcset="/img/ico/why4.svg"  alt="" class="svg">
                    </div>
                    <!-- // image holder  -->
                    <div class="content">
                        <h4>04. Achieve</h4>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                    </div>
                </div>
            </div>
            <!-- // vision box  -->                                                            

        </div>
        <!-- // row  -->
    </div>
</div>
<!-- // vision  -->

<div id="about-gallery">
    <div class="row no-gutter">

        <div class="col-sm-6">
            <div class="image-holder">
                <a href="#">
                <img src="/img/misc/gal1.jpg" alt="" class="img-responsive">
                <div class="caption">
                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                </div>
                <!-- // caption  -->
                </a>                                
            </div>                    
        </div>
        <!-- // col  -->

        <div class="col-sm-6">
            <div class="image-holder">
                <a href="#">
                <img src="/img/misc/gal2.jpg" alt="" class="img-responsive">
                <div class="caption">
                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                </div>
                <!-- // caption  -->
                </a>                                
            </div>                    
        </div>
        <!-- // col  -->

        <div class="col-sm-6">
            <div class="image-holder">
                <a href="#">
                <img src="/img/misc/gal3.jpg" alt="" class="img-responsive">
                <div class="caption">
                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                </div>
                <!-- // caption  -->
                </a>                                
            </div>                    
        </div>
        <!-- // col  -->

        <div class="col-sm-6">
            <div class="image-holder">
                <a href="#">
                <img src="/img/misc/gal4.jpg" alt="" class="img-responsive">
                <div class="caption">
                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                </div>
                <!-- // caption  -->
                </a>                                
            </div>                    
        </div>
        <!-- // col  -->                                                

    </div>
    <!-- // row  -->
</div>
<!-- // about gallery  -->

<div id="story">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                
            <header>
                <h5>Our Story</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt saepe culpa qui. Ut vero, facere placeat labore mollitia minima aliquam.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, delectus.</p>
            </header>

            <footer>
                <a href="#" class="meet-btn">Meet the Team</a>
                <a href="#" class="clients-btn">Our Clients</a>
            </footer>
            <!-- // footer  -->

            </div>
        </div>
        <!-- // row  -->
    </div>
</div>
<!-- // story  -->

<div id="team">
    <div class="container">
        <header>
            <h5>Our Team</h5>
        </header>

        <div class="row">
            
            <div class="col-md-4 col-sm-6">
                <div class="team-box">
                    <div class="image-holder">
                        <img srcset="/img/ico/male.svg"  alt="" class="svg">
                    </div>
                    <!-- // icon  -->
                    <div class="content">
                        <span class="title">Manager</span>
                        <span class="team-title">John Doe Donson</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nesciunt?</p>
                        <a href="#" class="read-btn">Contact</a>
                    </div>
                    <!-- // content  -->
                </div>
            </div>
            <!-- // team box  -->

            <div class="col-md-4 col-sm-6">
                <div class="team-box">
                    <div class="image-holder">
                        <img srcset="/img/ico/female.svg"  alt="" class="svg">
                    </div>
                    <!-- // icon  -->
                    <div class="content">
                        <span class="title">Manager</span>
                        <span class="team-title">Steve Jorgensen</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nesciunt?</p>
                        <a href="#" class="read-btn">Contact</a>
                    </div>
                    <!-- // content  -->
                </div>
            </div>
            <!-- // team box  -->

            <div class="col-md-4 col-sm-6">
                <div class="team-box">
                    <div class="image-holder">
                        <img srcset="/img/ico/female.svg"  alt="" class="svg">
                    </div>
                    <!-- // icon  -->
                    <div class="content">
                        <span class="title">Expert</span>
                        <span class="team-title">Jane Doe</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nesciunt?</p>
                        <a href="#" class="read-btn">Contact</a>
                    </div>
                    <!-- // content  -->
                </div>
            </div>
            <!-- // team box  -->

            <div class="col-md-4 col-sm-6">
                <div class="team-box">
                    <div class="image-holder">
                        <img srcset="/img/ico/male.svg"  alt="" class="svg">
                    </div>
                    <!-- // icon  -->
                    <div class="content">
                        <span class="title">CEO</span>
                        <span class="team-title">Lisa Simpson</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nesciunt?</p>
                        <a href="#" class="read-btn">Contact</a>
                    </div>
                    <!-- // content  -->
                </div>
            </div>
            <!-- // team box  -->

            <div class="col-md-4 col-sm-6">
                <div class="team-box">
                    <div class="image-holder">
                        <img srcset="/img/ico/male.svg"  alt="" class="svg">
                    </div>
                    <!-- // icon  -->
                    <div class="content">
                        <span class="title">Manager</span>
                        <span class="team-title">Jan Bushemy</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nesciunt?</p>
                        <a href="#" class="read-btn">Contact</a>
                    </div>
                    <!-- // content  -->
                </div>
            </div>
            <!-- // team box  -->

            <div class="col-md-4 col-sm-6">
                <div class="team-box">
                    <div class="image-holder">
                        <img srcset="/img/ico/male.svg"  alt="" class="svg">
                    </div>
                    <!-- // icon  -->
                    <div class="content">
                        <span class="title">Manager</span>
                        <span class="team-title">John Doe Donson</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nesciunt?</p>
                        <a href="#" class="read-btn">Contact</a>
                    </div>
                    <!-- // content  -->
                </div>
            </div>
            <!-- // team box  -->

                                                                                                                

        </div>
        <!-- // row  -->

    </div>
    <!-- // cotnaienr  -->
</div>
<!-- // team  -->

<div id="clients-block">
    <div class="container">
        <header>
            <h5>Our Truly Awesome Partners.</h5>
        </header>

        <div id="clients-slider">
            
            <div class="item">
                <div class="logos-box">
                    <img src="https://sapiendev.com/staging/tca/wp-content/uploads/2017/10/logo1.png" alt="" class="img-responsive">
                </div>
                <!-- // logos box  -->
            </div>
            <!-- // item  -->

            <div class="item">
                <div class="logos-box">
                    <img src="https://sapiendev.com/staging/tca/wp-content/uploads/2017/10/ace-mart.jpg" alt="" class="img-responsive">
                </div>
                <!-- // logos box  -->
            </div>
            <!-- // item  -->

            <div class="item">
            <div class="logos-box">
                <img src="https://sapiendev.com/staging/tca/wp-content/uploads/2017/10/open.png" alt="" class="img-responsive">
            </div>
            <!-- // logos box  -->
            </div>
            <!-- // item  -->

            <div class="item">
                <div class="logos-box">
                    <img src="https://sapiendev.com/staging/tca/wp-content/uploads/2017/10/unifirst.gif" alt="" class="img-responsive">
                </div>
                <!-- // logos box  -->
            </div>
            <!-- // item  -->

            <div class="item">
                <div class="logos-box">
                    <img src="https://sapiendev.com/staging/tca/wp-content/uploads/2017/10/culinaria.png" alt="" class="img-responsive">
                </div>
                <!-- // logos box  -->
            </div>
            <!-- // item  -->

            <div class="item">
                <div class="logos-box">
                    <img src="https://sapiendev.com/staging/tca/wp-content/uploads/2017/10/social.png" alt="" class="img-responsive">
                </div>
                <!-- // logos box  -->
            </div>
            <!-- // item  -->

            <div class="item">
                <div class="logos-box">
                    <img src="https://sapiendev.com/staging/tca/wp-content/uploads/2017/10/innovision.jpg" alt="" class="img-responsive">
                </div>
                <!-- // logos box  -->
            </div>
            <!-- // item  -->

        </div>
        <!-- // slider  -->

    </div>
</div>
<!-- // clients  -->
{{ end }}