{{ define "main" }}
<div class="inner-header">
    <img src="/img/headers/contact.jpg" alt="" class="img-responsive">
    <div class="caption">
        <div class="container">
            <header>
                <h1>Our Clients</h1>
                <p class="desc">Get in touch with us</p>
            </header>
        </div>
        <!-- // container  -->
    </div>
    <!-- // caption  -->
</div>
<!-- // inner header   -->

<div class="breadcrumb-block">
    <div class="container">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
    </div>
    <!-- // container  -->
</div>
<!-- // breadcrumb  -->        

<div id="clients-block-inner">
    <div class="content">
        
    </div>
    <!-- // content  -->
    <div class="image-holder">
        <img src="/img/misc/about-img.jpg" alt="" class="img-responsive">
    </div>
    <!-- // image  -->
    <div class="caption">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="client-desc">
                        <h3>client name goes here</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid accusantium, nulla corrupti, dicta soluta omnis rerum ea, similique fugit ullam reiciendis. Suscipit temporibus non officia explicabo accusamus, dicta excepturi fugit incidunt aut! Odio explicabo reiciendis modi in, odit praesentium, laudantium?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem ullam adipisci quo, dolor obcaecati ut maxime dicta, architecto enim magnam facere excepturi provident illum. Hic amet sed enim animi praesentium.</p>
                    </div>
                </div>
            </div>
            <!-- // row  -->
        </div>
        <!-- // container  -->
    </div>
    <!-- // caption  -->
</div>
<!-- // clients block  -->

<div id="client-testimonials-block">
    <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum molestias, totam sed, perferendis officiis eligendi neque dignissimos. Optio architecto totam, impedit, vel neque iusto vitae a necessitatibus perferendis esse atque.</p>
    </div>
</div>
<!-- // test  -->

<div id="client-project-description">
    <div class="container">
        <div class="row">
            
            <div class="col-sm-4">
                <div class="project-box">
                    <div class="image-holder">
                        <img srcset="/img/ico/service.svg"  alt="" class="svg">
                    </div>
                    <!-- // iamge holder  -->
                    <h5>Service offered:</h5>
                    <ul>
                        <li>Planification & installation de réseaux locaux et étendus</li>
                        <li>Câblage</li>
                    </ul>
                </div>
            </div>
            <!-- // project box  -->

            <div class="col-sm-4">
                <div class="project-box">
                    <div class="image-holder">
                        <img srcset="/img/ico/question.svg"  alt="" class="svg">
                    </div>
                    <!-- // iamge holder  -->
                    <h5>Challenges:</h5>
                    <ul>
                        <li>Planification & installation de réseaux locaux et étendus</li>
                        <li>Câblage</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, eligendi.</li>
                    </ul>
                </div>
            </div>
            <!-- // project box  -->

            <div class="col-sm-4">
                <div class="project-box">
                    <div class="image-holder">
                        <img srcset="/img/ico/solution.svg"  alt="" class="svg">
                    </div>
                    <!-- // iamge holder  -->
                    <h5>Solutions: </h5>
                    <ul>
                        <li>Planification & installation de réseaux locaux et étendus</li>
                        <li>Câblage</li>
                        <li>Lorem ipsum dolor.</li>
                    </ul>
                </div>
            </div>
            <!-- // project box  -->                                        

        </div>
        <!-- // row  -->
    </div>
    <!-- // contianer  -->
</div>
<!-- // project  -->

<div class="small-cta-bottom">
    <div class="container">
        <p>looking for a first-class business plan consultant?</p>
        <a href="#">Contact us now</a>
    </div>
</div>
<!-- // small cta bottom  -->
{{ end }}