{{ define "main" }}
<div class="inner-header">
    <img src="{{.Params.image}}" alt="" class="img-responsive">
    <div class="caption">
        <div class="container">
            <header>
                <h1>{{.Params.titre}}</h1>
                <p class="desc">{{.Params.subtitle}}</p>
            </header>
        </div>
        <!-- // container  -->
    </div>
    <!-- // caption  -->
</div>
<!-- // inner header   -->

<div class="breadcrumb-block">
    <div class="container">
        <ul>
            <li><a href="{{.Site.BaseURL}}">{{ i18n "home" }}</a></li>
            <li><a href="{{.Permalink}}">{{ i18n "clients" }}</a></li>
        </ul>
    </div>
    <!-- // container  -->
</div>
<!-- // breadcrumb  -->        

<div id="clients-block-inner">
    <div class="caption">
        <div class="container">
            <div class="row">
                <div class="container">
                    <header class="no-top-padding">
                        <h4>Privé et publique</h4>
                        <p><strong>Services offerts:</strong> Câblage, Fibre optique, Télécom, Audio/Visuel</p>
                        <p>Nos clients sont pour nous une opportunité de démontrer notre savoir faire, et nous obligent à relever les défis particuliers à chacun avec rigueur et passion. Plusieurs de nos clients nous font confiance depuis plus de 20 ans.</p>
                    </header>
                </div>    
                <div class="container logos">
        
                    {{ range .Site.Data.clients.prive}}
                    <div class="logos-box">
                        <a href="{{.link}}" target="_blank" title="{{.name}}"><img src="{{.logo}}" alt="{{.name}}" class="img-responsive"></a>
                    </div>
                    <!-- // logos box  -->
                    {{ end }}

                </div>

            </div>
            <!-- // row  -->
            <div class="row">
                <div class="container">
                    <header>
                        <h4>Institutions d’enseignement</h4>
                        <p><strong>Services offerts:</strong> Câblage, Fibre optique, Télécom, Audio/Visuel, Intercommunication</p>
                        <p>Toujours soucieux de mettre en place des produits de bonne qualité et une installation du plus haut niveau, nous prenons au sérieux notre devoir envers l’utilisateur.</p>
                    </header>
                </div>
                <div class="container logos">
        
                    {{ range .Site.Data.clients.institution }}
                    <div class="logos-box">
                        <a href="{{.link}}" target="_blank" title="{{.name}}"><img src="{{.logo}}" alt="{{.name}}" class="img-responsive"></a>
                    </div>
                    <!-- // logos box  -->
                    {{ end }}

                </div>
            </div>
        </div>
        <!-- // container  -->
    </div>
    <!-- // caption  -->
</div>
<!-- // clients block  -->

{{- partial "site/cta.html" . -}}
<!-- // small cta bottom  -->
{{ end }}