{{ define "main" }}
<div class="inner-header">
    <img src="{{.Params.image}}" alt="" class="img-responsive">
    <div class="caption">
        <div class="container">
            <header>
                <h1>{{.Params.titre}}</h1>
                <p class="desc">{{.Params.subtitle}}</p>
            </header>
        </div>
        <!-- // container  -->
    </div>
    <!-- // caption  -->
</div>
<!-- // inner header   -->

<div class="breadcrumb-block">
    <div class="container">
        <ul>
            <li><a href="{{.Site.BaseURL}}">{{ i18n "home" }}</a></li>
            <li><a href="{{.Permalink}}">{{ i18n "clients" }}</a></li>
        </ul>
    </div>
    <!-- // container  -->
</div>
<!-- // breadcrumb  -->        

<div id="clients-block-inner">
    <div class="caption">
        <div class="container">
            <div class="row">
                <div class="container">
                    <header class="no-top-padding">
                        {{ .Params.prive | markdownify }}
                    </header>
                </div>    
                <div class="container logos">
        
                    {{ range .Site.Data.clients.prive}}
                    <div class="logos-box">
                        <img src="/quart{{.logo}}" alt="{{.name}}" class="img-responsive">
                    </div>
                    <!-- // logos box  -->
                    {{ end }}

                </div>

            </div>
            <!-- // row  -->
            <div class="row">
                <div class="container">
                    <header>
                        {{ .Params.institution | markdownify }}
                    </header>
                </div>
                <div class="container logos">
        
                    {{ range .Site.Data.clients.institution }}
                    <div class="logos-box">
                        <img src="/quart{{.logo}}" alt="{{.name}}" class="img-responsive"></a>
                    </div>
                    <!-- // logos box  -->
                    {{ end }}

                </div>
            </div>
        </div>
        <!-- // container  -->
    </div>
    <!-- // caption  -->
</div>
<!-- // clients block  -->

{{- partial "site/cta.html" . -}}
<!-- // small cta bottom  -->
{{ end }}