{{ with .Site.Params.googleapikey }}
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{.}}"
  type="text/javascript"></script>
{{ end }}
<script src="/js/modernizr-2.7.1.min.js"></script>
{{ if getenv "IS_PROD" }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
{{ else }}
<script src="/js/jquery-1.12.0.min.js"></script>
{{ end }}
<!-- Include all compiled plugins and libraries -->
<script src="/js/custom-dist.js"></script>   
<script src="/js/_main.js"></script>

