{{ define "main" }}
<div class="inner-header">
    <img src="/img/headers/blog.jpg" alt="" class="img-responsive">
    <div class="caption">
        <div class="container">
            <header>
                <h1>Blog</h1>
                <p class="desc">Our latest articles</p>
            </header>
        </div>
        <!-- // container  -->
    </div>
    <!-- // caption  -->
</div>
<!-- // inner header   -->

<div class="breadcrumb-block">
    <div class="container">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
    </div>
    <!-- // container  -->
</div>
<!-- // breadcrumb  -->

<div id="blog-wrapper-block">
    <div class="container">
        <div class="row">
            
            <div class="col-md-8 col-sm-8">
                <section id="blog-listing">
                    {{ range where .Site.RegularPages "Section" "articles"}}
                    <article class="blog-box">
                        <h2><a href="{{.Permalink}}">{{.Title}}</a></h2>
                        <div class="image-holder">
                            <a href="{{.Permalink}}">
                            <img src="{{.Params.image}}" alt="" class="img-responsive">
                            <div class="caption">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <!-- // caption  -->
                            </a>
                        </div>
                        <!-- // image holder  -->
                        <div class="meta-info">
                            <small><i class="fa fa-clock-o" aria-hidden="true"></i> February 19, 2016</small>
                        </div>
                        <!-- //  metas  -->
                        <p>{{.Summary}}</p>
                        <a href="{{.Permalink}}" class="read-btn">{{ i18n "readmore" }}</a>
                    </article>
                    <!-- // article  -->
                    {{ end }}                                                      

                </section>
            </div>
            <!-- // blog listing  -->

            <div class="col-md-4 col-sm-4">
                <aside id="blog-sidebar">

                    <nav class="cat-box">
                        <h4>Archives</h4>
                        <ul>
                           <li><a href="#">July 2016</a></li>
                            <li><a href="#">June 2016</a></li>
                            <li><a href="#">February 2016</a></li>
                            <li><a href="#">January 2016</a></li>
                        </ul>
                    </nav>
                    <!-- // cat box  -->

                    <nav class="cat-box">
                        <h4>Categories</h4>
                        <ul>
                           <li><a href="#">Featured News</a></li>
                            <li><a href="#">Summer Hits</a></li>
                            <li><a href="#">Cables</a></li>
                            <li><a href="#">IBM Stuff</a></li>
                            <li><a href="#">WIFI Signals</a></li>
                        </ul>
                    </nav>
                    <!-- // cat box  -->

                    <div class="recent-box">
                        <h5>Recent Posts</h5>
                        <ul>
                            <li><a href="#">
                                <time><i class="fa fa-clock-o" aria-hidden="true"></i> February 19, 2016</time>
                                Increasing productivity</a></li>
                            <li><a href="#">
                                <time><i class="fa fa-clock-o" aria-hidden="true"></i> February 19, 2016</time>
                                Lorem title Lorem ipsum dolor sit.</a></li>
                            <li><a href="#">
                                <time><i class="fa fa-clock-o" aria-hidden="true"></i> February 19, 2016</time>
                                Lorem title Lorem ipsum dolor sit Lorem ipsum dolor.</a></li>    
                        </ul>
                    </div>
                    <!-- // recnet box  -->


                </aside>
            </div>
            <!-- // blog sidebar  -->

        </div>
        <!-- // row  -->
    </div>
    <!-- // container  -->
</div>
<!-- // blog wrapper block  -->

<div class="small-cta-bottom">
    <div class="container">
        <p>looking for a first-class business plan consultant?</p>
        <a href="#">Contact us now</a>
    </div>
</div>
<!-- // small cta bottom  -->
		<!-- {{ .Content}}
			{{ range $i, $e := sort .Pages ".Params.ordre" "asce" }}
			{{ $mod1 := modBool $i 1}}
			{{ $mod2 := modBool $i 2}}
			{{ $mod3 := modBool $i 3}}
		{{ end }} -->
{{ end }}