{{ define "main" }}
<div class="inner-header">
    <img src="/img/headers/blog.jpg" alt="" class="img-responsive">
    <div class="caption">
        <div class="container">
            <header>
                <h1>Blog</h1>
                <p class="desc">Our latest articles</p>
            </header>
        </div>
        <!-- // container  -->
    </div>
    <!-- // caption  -->
</div>
<!-- // inner header   -->

<div class="breadcrumb-block">
    <div class="container">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
    </div>
    <!-- // container  -->
</div>
<!-- // breadcrumb  -->

<div id="blog-single-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                
                <div class="row">
                    
                    <div class="col-md-2 col-sm-2">
                        <aside class="article-info">

                            <div class="author-box">
                                <img src="/img/ico/star.png" alt="">
                                <small>By PlaniSelect.</small>
                            </div>
                            <!-- // author box  -->

                            <div class="date-box">
                                <small><i class="fa fa-clock-o" aria-hidden="true"></i> February 19, 2016</small>
                            </div>
                            <!-- // date box  -->

                            <div class="share-box">
                                <img src="/img/misc/social.png" alt="" class="img-responsive">
                            </div>
                            <!-- // shar ebox  -->

                        </aside>
                    </div>
                    <!-- // article info  -->

                    <div class="col-md-10 col-sm-10">
                        <article class="blog-article">
                            <h2>{{.Title}}</h2>
                            <img src="/img/misc/blog2.jpg" alt="" class="img-responsive">
                            <p>Qass patent taciti sociosqu ad litro torquent per connubio nostra, per inceptos himenaeos. Curabitur a torto ut leo mattis cursus. Vestibule laoreet interdum pellentesque. Suspendisse vitae cursus urna. Lorem ipsum dolor sit met, consectetur adipiscing elit. Nulla veilt mets, ornare vitae maleducada in, fermentum ac turpis. Vestibule convallis pulvinar tellus eget ultricies. Sed sollicitudin, sem vitae elementum euismod, veilt arcu mattis diam, in scelerisque purus lorem eget elit. Sed vitae nunc in mets semper hendrerit. </p>

<p>Curabitur mets felis, interduo quis sodales at, aliquam eu eros. Prone ac lacks urna, vel pulvinar ante. Integer poser, sapient ut iaculis molestie, justo quad ultrices orci. Maecenas ultrices viverra ligula, vel lobortis ante pulvinar sed. Prooien iaculis trirtique nis ut eleifend. Mecenas locus purus, malesuada eu scelerisque ac, commode sed orci.</p>
                            <h3>Heading level 3</h3>
                            <p>Qass patent taciti sociosqu ad litro torquent per connubio nostra, per inceptos himenaeos. Curabitur a torto ut leo mattis cursus. Vestibule laoreet interdum pellentesque. Suspendisse vitae cursus urna. Lorem ipsum dolor sit met, consectetur adipiscing elit. Nulla veilt mets, ornare vitae maleducada in, fermentum ac turpis. Vestibule convallis pulvinar tellus eget ultricies. Sed sollicitudin, sem vitae elementum euismod, veilt arcu mattis diam, in scelerisque purus lorem eget elit. Sed vitae nunc in mets semper hendrerit.</p>
                            <p>Qass patent taciti sociosqu ad litro torquent per connubio nostra, per inceptos himenaeos. Curabitur a torto ut leo mattis cursus. Vestibule laoreet interdum pellentesque. Suspendisse vitae cursus urna. Lorem ipsum dolor sit met, consectetur adipiscing elit. Nulla veilt mets, ornare vitae maleducada in, fermentum ac turpis. Vestibule convallis pulvinar tellus eget ultricies. Sed sollicitudin, sem vitae elementum euismod, veilt arcu mattis diam, in scelerisque purus lorem eget elit. Sed vitae nunc in mets semper hendrerit. </p>

<p>Curabitur mets felis, interduo quis sodales at, aliquam eu eros. Prone ac lacks urna, vel pulvinar ante. Integer poser, sapient ut iaculis molestie, justo quad ultrices orci. Maecenas ultrices viverra ligula, vel lobortis ante pulvinar sed. Prooien iaculis trirtique nis ut eleifend. Mecenas locus purus, malesuada eu scelerisque ac, commode sed orci.</p>
                            <h4>Heading level 4</h4>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti laudantium, illo quidem enim eum accusamus, iure voluptatibus culpa veniam aperiam facilis quo provident tenetur cumque dolor harum vero laboriosam repellendus.</p>
                            <h5>Heading level 5</h5>
                            <ul>
                                <li>Something in the list</li>
                                <li>New item</li>
                                <li>Last item</li>
                            </ul>
                            <h6>Last heading level 6</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga non, deleniti perspiciatis blanditiis praesentium aut iusto? Nam, temporibus, accusamus. Illum iusto voluptatem veritatis modi, sed optio distinctio consequuntur dolore repellendus.</p>                                
                        </article>
                        <footer>
                            <ul>
                                <li><a href="#">Category Name</a></li>
                                <li><a href="#">Latest</a></li>
                            </ul>
                        </footer>
                        <!-- // footer  -->                                    
                    </div>
                    <!-- // blog article  -->

                </div>

            </div>
            <!-- // offset  -->
        </div>
        <!-- // row  -->
    </div>
    <!-- // container  -->
</div>
<!-- // blog wrapper block  -->

<div id="latest-articles">
    <div class="container">
        <header>
            <h6>Blog</h6>
            <h5>Related Articles</h5>
        </header>

        <div class="row">

            <div class="col-sm-4">
                <div class="article-box">
                    <div class="image-holder">
                        <a href="#">
                        <img src="/img/misc/blog1.jpg" alt="" class="img-responsive">
                        <div class="caption">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <!-- // caption  -->
                        </a>                                
                    </div>
                    <!-- // image holder  -->
                    <div class="content">
                        <h4><a href="#">Left Sidebar Post Example</a></h4>
                        <time><i class="fa fa-clock-o" aria-hidden="true"></i> February 10, 2016</time>
                    </div>
                    <!-- // content  -->
                </div>
            </div>
            <!-- // aritcle box  -->

            <div class="col-sm-4">
                <div class="article-box">
                    <div class="image-holder">
                        <a href="#">
                        <img src="/img/misc/blog2.jpg" alt="" class="img-responsive">
                        <div class="caption">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <!-- // caption  -->
                        </a>                                
                    </div>
                    <!-- // image holder  -->
                    <div class="content">
                        <h4><a href="#">Left Sidebar Post Example</a></h4>
                        <time><i class="fa fa-clock-o" aria-hidden="true"></i> February 10, 2016</time>
                    </div>
                    <!-- // content  -->
                </div>
            </div>
            <!-- // aritcle box  -->

            <div class="col-sm-4">
                <div class="article-box">
                    <div class="image-holder">
                        <a href="#">
                        <img src="/img/misc/blog3.jpg" alt="" class="img-responsive">
                        <div class="caption">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <!-- // caption  -->
                        </a>                                
                    </div>
                    <!-- // image holder  -->
                    <div class="content">
                        <h4><a href="#">Left Sidebar Post Example</a></h4>
                        <time><i class="fa fa-clock-o" aria-hidden="true"></i> February 10, 2016</time>
                    </div>
                    <!-- // content  -->
                </div>
            </div>
            <!-- // aritcle box  -->                                        

        </div>
        <!-- // row  -->

    </div>
</div>
<!-- // latest rticles  -->

<div class="small-cta-bottom">
    <div class="container">
        <p>looking for a first-class business plan consultant?</p>
        <a href="#">Contact us now</a>
    </div>
</div>
<!-- // small cta bottom  -->
{{ end }}