



/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */


/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}



/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */


.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: initial;
    height: 100%;
    width: 100%;
}

.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}


#middle-cta .bcg {
    background-image:url(../img/bg/paralax1.jpg);
}

  #middle-cta {
    height: 550px !important;
    @include small-lap {
        height: 500px!important;
    }
    @include breakpoint(laptop) {
        height: 450px!important;
    }
    @include breakpoint(phone) {
       height: 300px !important;
    }
    @include breakpoint(tablet) {
        height:400px!important;
    }
}  

#map-contact-block .bcg {
    background-image:url(../img/bg/map.jpg);
}

  #map-contact-block {
    height: 470px !important;
    @include small-lap {
        height: 400px!important;
    }
    @include breakpoint(laptop) {
        height: 380px!important;
    }
    @include breakpoint(phone) {
       height: 300px!important;
    }
    @include breakpoint(tablet) {
        height:330px!important;
    }
}  


#about-header .bcg {
    background-image:url(../img/bg/about.jpg);
}

  #about-header {
    height: 450px !important;
    margin-top: 130px;
    @include small-lap {
        height: 430px!important;
    }
    @include breakpoint(laptop) {
        margin-top: 110px;
        height: 400px!important;
    }
    @include breakpoint(phone) {
       height: 400px !important;
    }
    @include breakpoint(tablet) {
        height:380px!important;
        margin-top: 110px;
    }
}  


#paralax-2 .bcg {
    background-image:url(../img/bg/app-bg.jpg);
}

  #paralax-2 {
    height: 990px !important;
    @include breakpoint(phone) {
       height: auto !important;
    }
    @include breakpoint(tablet) {
        height: 790px !important;
    }
}  



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .bcg {
        @include breakpoint(tablet-port) {
            background-size:cover;
        }
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
