{{ define "main" }}
<header id="hero-header">
    <div id="hero-slider">

        {{ range .Params.slider }}
        {{ $link := .btnlink }}
        <div class="item hero-slide">
            <img src="{{.img}}" alt="">
            <div class="overlay"></div>
            <div class="slider-caption">
                <div class="container">
                    <div class="slider-content" data-animation="fadeIn" data-delay="0.3s">
                        {{ if eq .weight 1 }}
                        <h1 class="title" data-animation="fadeInDown" data-delay="0.5s">{{.title}} </h1>
                        {{ else }}
                        <h2 class="title" data-animation="fadeInDown" data-delay="0.5s">{{.title}} </h2>
                        {{ end }}
                        <p data-animation="fadeInUp" data-delay="0.2s">{{.desc}}</p>
                        <a href='{{ $.Scratch.Get $link }}' class="cta-btn" data-animation="fadeInUp" data-delay="0.7s">{{ .btntxt }}</a>
                    </div>
                    <!-- // content  -->
                </div>
            </div>
            <!-- // slider caption  -->
        </div>
        <!-- // slider item  -->
        {{ end }}                               

    </div>
    <!-- // hero slider  -->
</header>
<!-- // hero  -->

<div id="about">
    <div class="contain">
        <div class="row no-gutter">
            {{ with .Params.about }}
            <div class="col-md-5">
                <section class="about-intro">
                    <div class="content">
                        <h2>{{.title}}</h2>
                        <h1>{{.secondtitle}}</h1>
                        <p>{{.desc}}</p>
                    </div>
                    <!-- // content  -->
                </section>
            </div>
            <!-- // intro about  -->
            {{ end }}

            <div class="col-md-7">
                <section class="services-list">

                    {{ range where .Site.Pages "Type" "services"}}
                    {{ if eq .Parent.Params.identifiant "services" }}
                    <div class="service-box">
                        <a href="{{.Permalink}}">
                            <img srcset="{{.Params.icon}}"  alt="" class="svg" style="display: none;">
                            <h6>{{.Params.titre}}</h6>
                        </a>
                    </div>
                    <!-- // service box  -->
                    {{ end }}
                    {{ end }}

                    <div class="service-box cta-box">
                        {{ $linkcta := .Params.about.link }}
                        <a href='{{ $.Scratch.Get $linkcta }}'>
                            <h6>{{- .Params.about.cta -}}</h6>
                        </a>
                    </div>
                    <!-- // service box  -->                                                                                                                                            

                </section>
            </div>
            <!-- // serviecs list  -->

        </div>
    </div>
</div>
<!-- // about  -->

<div id="cables">
    <div class="container">
        <header>
            <h3>{{.Params.cablage.title}}</h3>
        </header>
        <div class="row">
            {{ if eq .Lang "fr" }}
            {{ range .Site.Data.cablage.fr }}
            <div class="col-sm-4">
                <div class="cables-box">
                    <div class="image-holder">
                        <img src="{{.image}}" alt="" class="img-responsive">
                        <div class="caption"><a href='{{ $.Scratch.Get "cablagePage" }}#{{.link}}'><img srcset="/img/ico/plus.svg"  alt="" class="svg"></a></div>
                    </div>
                    <h4><a href='{{ $.Scratch.Get "cablagePage" }}#{{.link}}'>{{.nom}}</a></h4>
                    <p>{{.description}}</p>
                    <a href='{{ $.Scratch.Get "cablagePage" }}#{{.link}}' class="read-btn">{{ i18n "know_more" }}</a>
                </div>
            </div>
            <!-- // cables box  -->
            {{ end }}
            {{ else if eq .Lang "en" }}
            {{ range .Site.Data.cablage.en }}
            <div class="col-sm-4">
                <div class="cables-box">
                    <div class="image-holder">
                        <img src="{{.image}}" alt="" class="img-responsive">
                        <div class="caption"><a href='{{ $.Scratch.Get "cablagePage" }}#{{.link}}'><img srcset="/img/ico/plus.svg"  alt="" class="svg"></a></div>
                    </div>
                    <h4><a href='{{ $.Scratch.Get "cablagePage" }}#{{.link}}'>{{.nom}}</a></h4>
                    <p>{{.description}}</p>
                    <a href='{{ $.Scratch.Get "cablagePage" }}#{{.link}}' class="read-btn">{{ i18n "know_more" }}</a>
                </div>
            </div>
            <!-- // cables box  -->
            {{ end }}
            {{ end }}                                      

        </div>
        <!-- // row  -->
    </div>
    <!-- // container  -->
</div>
<!-- // cables  -->

<div id="clients">
    <div class="container">
        <header>
            <h4>{{.Params.clients.title}}</h4>
        </header>

        <div class="row">
            {{ if eq $.Lang "fr" }}
            {{ range sort .Site.Data.clients.clients.fr "weight" "asce" }}
            <div class="col-md-6">
                <div class="client-box">
                    <div class="image-holder">
                        <img src="{{.img}}" alt="" class="img-responsive">
                        <div class="overlay">
                            <a href='{{ $.Scratch.Get "clientsPage" }}' class="read-btn">{{ i18n "clients" }}</a>
                        </div>
                        
                    </div>
                    <!-- // image holder  -->
                    <div class="content">
                        <span class="title">{{.name}}</span>
                        <span class="service-label">{{ i18n "service_offered" 1 }} :</span>
                        <span class="value">{{.services}}</span>
                        <div class="service-label">Description:</div>
                        <p>{{.desc}}</p>

                    </div>
                    <!-- // content  -->
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- // client box  -->
            {{ end }}
            {{ else if eq $.Lang "en" }}
            {{ range sort .Site.Data.clients.clients.en "weight" "asce" }}
            <div class="col-md-6">
                <div class="client-box">
                    <div class="image-holder">
                        <img src="{{.img}}" alt="" class="img-responsive">
                        <div class="overlay">
                            <a href='{{ $.Scratch.Get "clientsPage" }}' class="read-btn">{{ i18n "clients" }}</a>
                        </div>
                        
                    </div>
                    <!-- // image holder  -->
                    <div class="content">
                        <span class="title">{{.name}}</span>
                        <span class="service-label">{{ i18n "service_offered" 1 }} :</span>
                        <span class="value">{{.services}}</span>
                        <div class="service-label">Description:</div>
                        <p>{{.desc}}</p>

                    </div>
                    <!-- // content  -->
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- // client box  -->
            {{ end }}
            {{ end }}

        </div>
        <!-- // row  -->

    </div>
    <!-- // container  -->
</div>
<!-- // clients  -->

<div id="brands" class="hidden-xs">
    <div class="container">
        <header>
            <h4>{{.Params.partenaires.title}}</h4>
        </header>
    </div>
    <div class="container logos">
        
        {{ range sort .Site.Data.partenaires.partenaires "weight" "asce"}}
        <div class="logos-box">
            <img src="{{.logo}}" alt="{{.name}}" class="img-responsive">
        </div>
        <!-- // logos box  -->
        {{ end }}

    </div>
</div>
<!-- // brands  -->

{{- partial "site/cta.html" . -}}
{{- partial "site/contact-form.html" . -}}


{{ end }}