{{ define "main" }}
<div id="services-list-block">
    <div class="container">

        <header>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, aperiam?</p>
                </div>
            </div>
        </header>
        <!-- // header  -->

        <div id="services-listing">
            <div class="row">
                {{ range where $.Site.RegularPages "Type" "services"}}
                <div class="col-md-4 col-sm-6">
                    <div class="services-box">
                        <div class="content">
                            <div class="image-holder">
                                <img srcset="{{.Params.icon}}"  alt="" class="svg">
                            </div>
                            <!-- // image holder  -->
                            <h4>{{.Params.titre}}</h4>
                        </div>
                        <!-- // content  -->
                        <div class="content-back">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores cum, aliquid! Consequatur quisquam vero eum!</p>
                            <a href="{{.Permalink}}" class="read-btn">{{ i18n "readmore" }}</a>
                        </div>
                        <!-- // content back  -->
                    </div>
                </div>
                <!-- // services box  -->
                {{ end }}
            </div>
            <!-- // row  -->
        </div>
        <!-- // listing  -->

    </div>
</div>

{{ end }}