{{ define "main" }}
<div id="services-list-block">
    <div class="container">

        <header>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>{{.Params.titre}}</h1>
                </div>
            </div>
        </header>
        <!-- // header  -->

        <div id="services-listing">
            <div class="row">
                {{ range .RegularPages}}
                <div class="col-md-6 col-sm-6">
                    <a href="{{.Permalink}}">
                        <div class="services-box">
                            <div class="content">
                                <div class="image-holder">
                                    <img srcset="{{.Params.icon}}" alt="" class="svg" style="display: none;">
                                </div>
                                <!-- // image holder  -->
                                <h4>{{.Params.titre}}</h4>
                            </div>
                            <!-- // content  -->
                            <div class="content-back">
                                <p>{{.Params.desc}}</p>
                                <a href="{{.Permalink}}" class="read-btn">{{ i18n "know_more" }}</a>
                            </div>
                            <!-- // content back  -->
                        </div>
                    </a>
                </div>
                <!-- // services box  -->
                {{ end }}
            </div>
            <!-- // row  -->
        </div>
        <!-- // listing  -->

    </div>
</div>

{{ end }}