{{ define "main" }}
<header id="about-header">
    <div class="bcg" data-top-bottom="background-position: 50% -100px;"
        data-bottom-top="background-position: 50% 100px;" data-anchor-target="#about-header"
        style="background-image: url('{{.Params.banner}}'); background-size: cover">
        <div class="overlay"></div>

        <div class="caption">
            <div class="container">
                <img srcset="{{.Params.icon}}" alt="" class="svg" style="display: none;">
                <h1>{{.Params.titre}}</h1>
            </div>
        </div>
        <!-- // caption  -->

    </div>
    <!-- // bcg  -->
</header>
<!-- // about header  -->

<div id="about-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h3>{{.Params.section1.title}}</h3>
                {{.Params.section1.description | markdownify }}
            </div>
        </div>
        <!-- // row  -->
    </div>
    <!-- // container  -->
</div>
<!-- // about intro  -->

<div id="gallery-section">

    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-7">
                <img class="img-responsive main-image" alt="" src="{{.Params.section2.image1}}" />
            </div>
            <!--// col md 6 -->

            <div class="col-md-4 col-sm-5">
                <div class="row">

                    <div class="col-md-12">

                        <img class="img-responsive small-image" alt="" src="/quart{{.Params.section2.image2}}" />

                    </div>
                    <!--// md 12 -->
                    {{ with .Params.section2.image3 }}
                    <div class="col-md-12">

                        <img class="img-responsive small-image" alt="" src="/quart{{- . -}}" />

                    </div>
                    <!--// md 12 -->
                    {{ end }}

                </div>
                <!--// row -->
            </div>
            <!--// col md 6 -->

        </div>
        <!--// row -->
    </div>
    <!--// container -->
</div>
<!--// gallery section -->
{{ if .Params.section3.title }}
{{- partial "site/bottomcta.html" . -}}
{{ end }}

{{ with .Params.section3 }}
<div id="main-services-content">
    <div class="container">
        <header>
            <h3>{{.title}}</h3>
        </header>
        <div class="row">
            <div class="col-md-6">
                {{.col1 | markdownify}}
            </div>
            <div class="col-md-6">
                {{.col2 | markdownify}}
            </div>
        </div>
        <!-- .row  -->
    </div>
    <!-- // container  -->
</div>
{{ end }}
<!-- // serives content  -->
{{ with .Params.section4 }}
<div id="featured-main-content">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="image-holder">
                    <img src="/half{{.image}}" alt="" class="img-responsive">
                </div>
                {{ with .certifications }}
                <div class="content">
                    <h4>Certifications</h4>
                    {{ . | markdownify }}
                </div>
                {{ end }}
            </div>
            <!-- // iamge holder  -->
            <div class="col-md-6">
                <div class="content">
                    <h4>{{.title}}</h4>
                    {{.description | markdownify}}
                </div>
            </div>
            <!-- // content  -->

        </div>
        <!-- // row  -->
    </div>
    <!-- // container  -->
</div>
<!-- // featured main content  -->
{{ end }}

<div id="other-services">
    <div class="container">
        <header>
            <h4>{{ i18n "other_service" 2}}</h4>
        </header>

        <div id="other-services-slider">
            {{ $identifiant := .File.UniqueID }}
            {{ range (shuffle (where $.Site.RegularPages "Type" "services"))}}
            {{ if not (eq .File.UniqueID $identifiant) }}
            <div class="item">
                <div class="services-box">
                    <div class="image-holder">
                        <a href="{{.Permalink}}">
                            <img src="/half{{.Params.image}}" alt="" class="img-responsive">
                            <div class="caption">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <!-- // caption  -->
                        </a>
                    </div>
                    <!-- // iamge holder  -->
                    <div class="content">
                        <h5><a href="{{.Permalink}}">{{.Params.titre}}</a></h5>
                    </div>
                </div>
            </div>
            <!-- // serviecs box  -->
            {{ end }}
            {{ end }}

        </div>
        <!-- // slider  -->

    </div>
</div>
<!-- // other services  -->
{{ end }}