{{ define "main" }}
<header id="about-header">
    <div class="bcg" 
    data-top-bottom="background-position: 50% -100px;" 
    data-bottom-top="background-position: 50% 100px;" 
    data-anchor-target="#about-header"> 
    <div class="overlay"></div> 

        <div class="caption">
            <div class="container">
                <img srcset="/img/ico/service1.svg"  alt="" class="svg">
                <h1>{{.Params.titre}}</h1>
            </div>
        </div>
        <!-- // caption  -->

    </div>
    <!-- // bcg  -->
</header>
<!-- // about header  -->

<div id="about-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h3>Deuxième titre, plus long et plus descriptif</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem qui vel nostrum debitis, inventore labore incidunt, hic, vitae itaque laboriosam harum sit. Adipisci iusto voluptatibus ut deleniti! Dolores, blanditiis molestias!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime tenetur minima earum. Deleniti, dicta, dignissimos.</p>
            </div>
        </div>
        <!-- // row  -->
    </div>
    <!-- // container  -->
</div>
<!-- // about intro  -->

<div id="gallery-section">

    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-7">
                <img class="img-responsive main-image" alt="" src="/img/misc/cover1.jpg" />
            </div>
            <!--// col md 6 -->

            <div class="col-md-4 col-sm-5">
                <div class="row">

                    <div class="col-md-12">

                        <img class="img-responsive small-image" alt="" src="/img/misc/cover2.jpg" />

                    </div>
                    <!--// md 12 -->

                    <div class="col-md-12">

                        <img class="img-responsive small-image" alt="" src="/img/misc/cover3.jpg" />

                    </div>
                    <!--// md 12 -->

                </div>
                <!--// row -->
            </div>
            <!--// col md 6 -->

        </div>
        <!--// row -->
    </div>
    <!--// container -->
</div>
<!--// gallery section -->

<div id="main-services-content">
    <div class="container">
        <header>
            <h3>About serviecs lorem</h3>
        </header>
        <div class="row">
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur veritatis cupiditate voluptate, officia odio facilis maxime assumenda doloremque voluptatibus? Veniam dolores modi aut aperiam, odio earum impedit nam nihil explicabo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum velit temporibus repellendus dolore. Esse at alias ducimus atque. Aut laboriosam omnis tempora neque esse perspiciatis iste id fuga architecto debitis.</p>
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, optio non nisi provident quo ea aperiam, numquam magni! Vitae voluptate, dolores aliquam amet. Vero a, aperiam enim corporis perferendis eius quisquam dolorem totam quam quis voluptate doloremque atque autem ex?</p>
                <ul>
                    <li>Lorem ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                </ul>
            </div>
        </div>
        <!-- .row  -->
    </div>
    <!-- // container  -->
</div>
<!-- // serives content  -->

<div id="featured-main-content">
    <div class="container">
        <div class="row">
            
            <div class="col-md-6">
                <div class="image-holder">
                    <img src="/img/misc/feat.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <!-- // iamge holder  -->
            <div class="col-md-6">
                <div class="content">
                    <h4>Lorem ipsum.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, aperiam. Dignissimos beatae neque, aperiam fugiat magni. Maiores ea eius rerum, eos distinctio dolorem aut fuga aliquam illo cumque, eaque cupiditate suscipit inventore facilis placeat neque ab, nulla porro veniam. Magnam, deleniti? Consequuntur voluptatibus, iste vel delectus quis deleniti officiis ad!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur repellendus, aperiam molestias assumenda obcaecati consequatur.</p>
                </div>
            </div>
            <!-- // content  -->

        </div>
        <!-- // row  -->
    </div>
    <!-- // container  -->
</div>
<!-- // featured main content  -->

<div id="other-services">
    <div class="container">
        <header>
            <h4>Other Services</h4>
        </header>

        <div id="other-services-slider">
            
            <div class="item">
                <div class="services-box">
                    <div class="image-holder">
                        <a href="#">
                        <img src="/img/misc/other1.jpg" alt="" class="img-responsive">
                        <div class="caption">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <!-- // caption  -->
                            </a>
                    </div>
                    <!-- // iamge holder  -->
                    <div class="content">
                        <h5><a href="#">Planification & installation de réseaux locaux et étendus</a></h5>
                    </div>
                </div>
            </div>
            <!-- // serviecs box  -->

            <div class="item">
                <div class="services-box">
                    <div class="image-holder">
                        <a href="#">
                        <img src="/img/misc/other2.jpg" alt="" class="img-responsive">
                        <div class="caption">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <!-- // caption  -->
                            </a>
                    </div>
                    <!-- // iamge holder  -->
                    <div class="content">
                        <h5><a href="#">Installation de câblage structuré garantis par différents manufacturiers</a></h5>
                    </div>
                </div>
            </div>
            <!-- // serviecs box  -->

            <div class="item">
                <div class="services-box">
                    <div class="image-holder">
                        <a href="#">
                        <img src="/img/misc/other3.jpg" alt="" class="img-responsive">
                        <div class="caption">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <!-- // caption  -->
                            </a>
                    </div>
                    <!-- // iamge holder  -->
                    <div class="content">
                        <h5><a href="#">Câblage</a></h5>
                    </div>
                </div>
            </div>
            <!-- // serviecs box  -->                                        

            <div class="item">
                <div class="services-box">
                    <div class="image-holder">
                        <a href="#">
                        <img src="/img/misc/other1.jpg" alt="" class="img-responsive">
                        <div class="caption">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <!-- // caption  -->
                            </a>
                    </div>
                    <!-- // iamge holder  -->
                    <div class="content">
                        <h5><a href="#">Équipements de réseautiques</a></h5>
                    </div>
                </div>
            </div>
            <!-- // serviecs box  -->                    

        </div>
        <!-- // slider  -->

    </div>
</div>
<!-- // other services  -->
{{ end }}