/*===================================
=            About Intro            =
===================================*/
#about-header {
	.caption {
		@include breakpoint(phone) {
			width: 90%;
		}
		h2 {
			@include breakpoint(phone) {
				font-size: 1.5em;
			}
		}
	}
}
#about-intro {
	padding-top: 80px;
	padding-bottom: 50px;
	text-align: center;
	font-size: 16px;
	background:$white;
	@include small-lap {
		font-size: 15px;
		padding-top: 50px;
		padding-bottom: 40px;
	}
	@include breakpoint(laptop) {
		font-size: 15px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	@include breakpoint(tablet) {
		font-size: 15px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	@include breakpoint(phone) {
		font-size: 14px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	h3 {
		margin-bottom: 30px;
		font-size: 2em;
		color:$text;
		font-weight: 300;
		@include breakpoint(phone) {
			margin-bottom: 20px;
		}
	}
	p {
		@include regular-text;
		margin-bottom: 20px;
		font-size: 1.1em;
		line-height: 1.6;
	}
}

/*=====  End of About Intro  ======*/

/*==============================
=            Vision            =
==============================*/

#vision {
	padding-bottom: 100px;
	font-size: 16px;
	@include small-lap {
		font-size: 15px;
		padding-bottom: 60px;
	}
	@include breakpoint(laptop) {
		font-size: 15px;
		padding-bottom: 50px;
	}
	@include breakpoint(tablet) {
		padding-bottom: 40px;
	}
	@include breakpoint(phone) {
		padding-bottom: 30px;
	}
	.vision-box {
		text-align: center;
		@include breakpoint(phone) {
			margin-bottom: 30px;
		}
		.image-holder {
			margin:0px auto;
			margin-bottom: 30px;
			height: 120px;
			position: relative;
			width: 120px;
			border-radius:100%;
			border:1px solid #ddd;
			@include breakpoint(laptop) {
				height: 100px;
				width: 100px;
			}
			@include breakpoint(tablet) {
				height: 100px;
				width: 100px;
			}
			svg {
				@include centre(both);
				width: 80px;
				@include breakpoint(laptop) {
					width: 40px;
				}
				@include breakpoint(tablet) {
					width: 40px;
				}
				* {
					fill:$red;
				}
			}
		}
		.content {
			h4 {
				display: block;
				font-family: $font-medium;
				color:$dark;
				line-height: 1.2;
				font-size: 1.3em;
				margin-bottom: 20px;
			}		
			p {
				line-height: 1.5;
				font-size: 1em;
				color:$text-dark;
			}			
		}
	}
}

/*=====  End of Vision  ======*/

/*===============================
=            Gallery            =
===============================*/

#about-gallery {
	.image-holder {
		position: relative;
		overflow: hidden;
		img {
			width: 100%;
			height: 300px;
			object-fit: cover;
			@include small-lap {
				height: 250px;
			}
			@include breakpoint(laptop) {
				height: 250px;
			}
			@include breakpoint(tablet) {
				height: 200px;
			}
			@include breakpoint(phone) {
				height: 250px;
			}
		}
		.caption {
			@extend .dark-overlay;
			opacity: 0;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ba3486+0,ba3486+100&0.33+0,0.86+100 */
			background: -moz-linear-gradient(top,  rgba(186,52,134,0.33) 0%, rgba(186,52,134,0.86) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(186,52,134,0.33) 0%,rgba(186,52,134,0.86) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(186,52,134,0.33) 0%,rgba(186,52,134,0.86) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54ba3486', endColorstr='#dbba3486',GradientType=0 ); /* IE6-9 */
			i {
				width: 80px;
				height: 80px;
				background:$white;
				vertical-align: middle;
				border-radius:100%;
				line-height: 80px;
				@include font-ico;
				@include centre(both);
				text-align: center;
				font-size: 30px;
				color:$red;			
				&:before {
					@include centre(both);
					margin-left: 3px;
				}			
			}
		}
		a {
			&:hover {
				img {
					transform: scale(1.1);
				}
				.caption {
					opacity: 1;
				}
			}
		}		
	}
}

/*=====  End of Gallery  ======*/

/*=============================
=            Story            =
=============================*/

#story {
	font-size: 16px;
	padding-top: 80px;
	padding-bottom: 80px;
	background:#f9f9f9;
	@include small-lap {
		font-size: 15px;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	@include breakpoint(laptop) {
		font-size: 15px;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	@include breakpoint(tablet) {
		font-size: 15px;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	@include breakpoint(phone) {
		font-size: 14px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	header {
		text-align: center;
		padding-bottom: 50px;
		@include breakpoint(laptop) {
			padding-bottom: 40px;
		}
		@include breakpoint(tablet) {
			padding-bottom: 40px;
		}
		@include breakpoint(phone) {
			padding-bottom: 30px;
		}
		h5 {
			margin-bottom: 30px;
			font-size: 2em;
			color:$text;
			font-weight: 300;
		}
		p {
			@include regular-text;
			margin-bottom: 20px;
			font-size: 1.1em;
			line-height: 1.6;
		}		
	}
	footer {
		text-align: center;
		a {
			display: inline-block;
			margin-right: 10px;
			margin-left: 10px;
		    height: 52px;
		    line-height: 52px;
		    background:$red-light;
		    font-size: 0.875em;
		    color:$white;
		    text-transform: uppercase;
		    font-family: $font-heading;
		    position: relative;
		    width: 210px;
		    border:1px solid $red;
		    @include breakpoint(phone) {
		    	width: 150px;
		    }
		    @include breakpoint(phone-xs) {
		    	margin-top: 10px;
		    	width: 100%;
		    	margin-left: 0px;
		    	margin-right: 0px;
		    }
		    &.clients-btn {
		    	background:none;
		    	color:$blue;
		    	border:1px solid $blue;
		    }
		}
		p {
			@include regular-text;
			margin-bottom: 30px;
		}
	}
	.timeline {
		white-space: nowrap;
		overflow: hidden;
		margin-bottom: 30px;
		ol {
			font-size: 0;
			width: 100vw;
			padding: 200px 0 150px;
			transition: all 0.5s;
			&.opened-btm {
				padding-bottom: 260px;
			}
			&.opened-top {
				padding-top: 300px;
			}
			li:not(.nav-item) {
				position: relative;
			    display: inline-block;
			    list-style-type: none;
			    width: 160px;
			    height: 1px;
			    background: black;
			    -webkit-transition: width 1s;
			    -moz-transition: width 1s;
			    -ms-transition: width 1s;
			    -o-transition: width 1s;
			    transition: width 1s;
			    &.crushed {
			    	width: 45px;
			    }
			    &.enlarged {
			    	width: 200px !important;
			    }
			    &:last-child {
			    	width: 280px;
			    }
			    &:not(:first-child) {
				    margin-left: 14px;
				}
				&:not(:last-child)::after {
				    content: '';
				    position: absolute;
				    top: 50%;
				    left: calc(100% + 1px);
				    bottom: 0;
				    width: 12px;
				    height: 12px;
				    transform: translateY(-50%);
				    border-radius: 50%;
				    background: $red;
				}
				&:nth-child(odd) {
					div.time-content {
					    top: -16px;
					    transform: translateY(-100%);
					    &::before {
						    top: 100%;
						    border-width: 8px 8px 0 0;
						    border-color: white transparent transparent transparent;
						}
					}
				}
				&:nth-child(even) {
					div.time-content {
					    top: calc(100% + 16px);
					    &::before {
						    top: -8px;
	  						border-width: 8px 0 0 8px;
	  						border-color: transparent transparent transparent white;
						}
					}
				}
				div.time-content {
				    position: absolute;
				    left: calc(100% + 7px);
				    width: 260px;
				    padding: 15px;
				    font-size: 1rem;
				    white-space: normal;
				    color: black;
				    background: #f9f9f9;
				    border-left: 1px solid black;
				    max-height: 200px;
				    div.overflowed {
				    	overflow: scroll;
				    	max-height: 180px;
				    	&::-webkit-scrollbar {
						    width: 0px;  /* remove scrollbar space */
						    background: transparent;  /* optional: just make scrollbar invisible */
						}
				    }
				  	p.text {
						max-height: 0;
						opacity: 0;
						-webkit-transition: 1s;
						-moz-transition: 1s;
						-ms-transition: 1s;
						-o-transition: 1s;
						transition: 1s;
						font-size: 0.8em;
						line-height: 1.5;
						color: #666666;
						@include breakpoint(phone) {
							opacity: 1;
							max-height: 300px;
						}
				    }
				    a.open-timeline {
				    	position: relative;
						img {
						  	width: auto;
						  	max-height: 50px;
						  	margin-bottom: 10px;
						  	max-width: 80px;
					    }
					    &:after {
							display: inline-block;
						    font: normal normal normal 14px/1 FontAwesome;
						    font-size: inherit;
						    text-rendering: auto;
						    -webkit-font-smoothing: antialiased;
						    -moz-osx-font-smoothing: grayscale;
						    -webkit-transform: translate(0, 0);
						    -ms-transform: translate(0, 0);
						    transform: translate(0, 0);
						    font-size: 0.8em;
						    color: $red;
						    content: '\f0d7';
						    margin-left: 3px;
						    position: absolute;
						    top: 0%;
						    transform: translate(0, -50%);
						    z-index: 10;
						}
						&.proche {
							&:after {
								margin-left: -7px;
							}
						}
				    }
				    &.opened {
					  	p.text {
					  		opacity: 1;
					  		max-height: 300px;
					  	}
					  	a.open-timeline {
					  		&:after {
					  			content: "\f0d8";
					  		}
					  	}
				    }
				    &::before {
						content: '';
						position: absolute;
						top: 100%;
						left: 0;
						width: 0;
						height: 0;
						border-style: solid;
					}
				}
			}
		}
		time {
		    display: block;
		    font-size: 1.5rem;
		    font-weight: bold;
		    margin-bottom: 8px;
		    color: $red;
		    font-family: $font-heading;
		}
		.arrows {
		    display: flex;
		    justify-content: center;
		    margin: 30px 0 20px;
		    z-index: 90;
		    .arrow__prev {
			    margin-right: 20px;
			    z-index: 90;
			    border: none;
			    background-color: #f9f9f9;
			}
			.arrow__next {
			    z-index: 90;
			    border: none;
			    background-color: #f9f9f9;
			}
			img {
			    width: 45px;
			    height: 45px;
			}
		}
		.disabled {
		    opacity: .5;
		}
	}

	@media screen and (min-width: 768px) {
		.timeline {
			time {
				margin-bottom: -19px;
				margin-left: -87px;	
			}
			ol li:nth-child(even) div {
				time {
					position: absolute;
					bottom: 34px;
				}
			}
		}
	}

	/* GENERAL MEDIA QUERIES
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	@include breakpoint(phone) {

		.timeline {
			ol {
				width: auto;
				padding: 0;
				transform: none !important;
				li:not(.nav-item) {
					width: auto;
					display: block;
					height: auto;
					background: transparent;
					&.crushed {
				    	width: auto;
				    }
				    &.enlarged {
			    		width: auto !important;
			    	}
					&:first-child(){
						margin-top: 25px;
					}
					&:not(:first-child) {
						margin-left: auto;
					}
					&:nth-child(odd) {
						div.time-content {
							transform: none;
						}
					}
					&:nth-child(odd) div.time-content::before, 
					&:nth-child(even) div.time-content::before {
						left: 50%;
						top: 100%;
						transform: translateX(-50%);
						border: none;
						border-left: 1px solid black;
						height: 25px;
					}
					&:last-child,
					&:nth-last-child(2) div.time-content::before,
					&:not(:last-child)::after {
						display: none;
					}
					div.time-content {
						width: 94%;
						height: auto !important;
						margin: 0 auto 25px;
						border: 1px solid black;
						position: static;
						max-height: none;
						div.overflowed {
							max-height: none;
						}
					}
				}
				&.opened-btm {
					padding-bottom: 0px;
			  	}
				&.opened-top {
				  	padding-top: 0px;
				}
			}
			.arrows {
				display: none;
			}
		}
	}
}

/*=====  End of Story  ======*/

/*============================
=            Team            =
============================*/

#team {
	background:$white;
	padding-top: 70px;
	padding-bottom: 70px;
	font-size: 16px;
	@include small-lap {
		font-size: 15px;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	@include breakpoint(laptop) {
		font-size: 15px;
		padding-top: 50px;
		padding-bottom: 20px;
	}
	@include breakpoint(tablet) {
		font-size: 15px;
		padding-top: 50px;
		padding-bottom: 20px;
	}
	@include breakpoint(phone) {
		font-size: 14px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	header {
		text-align: center;
		padding-bottom: 50px;
		@include small-lap {
			padding-bottom: 30px;
		}
		@include breakpoint(laptop) {
			padding-bottom: 20px;
		}
		@include breakpoint(tablet) {
			padding-bottom: 0px;
		}
		@include breakpoint(phone) {
			padding-bottom: 10px;
		}
		h5 {
			margin-bottom: 30px;
			font-size: 2em;
			color:$text;
			font-weight: 300;
			@include small-lap {
				margin-bottom: 20px;
			}
		}		
	}
	.team-box {
		margin-bottom: 50px;
		@include breakpoint(tablet) {
			margin-bottom: 35px;
		}
		@include breakpoint(phone) {
			margin-bottom: 25px;
		}
		.image-holder {
			height: 60px;
			position: relative;
			svg {
				@include centre(y);
				width: 32px;
				path {
					stroke:$black;
				}
				&:nth-child(2) {
					left: 40px;
				}
			}
		}
		.content {
			.team-title {
				display: block;
				font-family: $font-heading;
				font-size: 1.3em;
			}
			.title {
				@include upper-heading;
				display: block;
				margin-bottom: 10px;
			}
			p {
				@include regular-text;
				margin-bottom: 15px;
				margin-top: 10px;
			}
			a.read-btn {
				@include read-btn;
				color:$red;
			}
		}
	}
}

/*=====  End of Team  ======*/

/*===============================
=            Clients            =
===============================*/

#clients-block {
	border-top:1px solid #ddd;
	padding-top: 70px;
	padding-bottom: 70px;
	font-size: 16px;
	@include small-lap {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	@include breakpoint(laptop) {
		padding-top: 50px;
		padding-bottom: 50px;
		font-size: 15px;
	}
	@include breakpoint(tablet) {
		padding-top: 50px;
		padding-bottom: 50px;
		font-size: 14px;
	}
	@include breakpoint(phone) {
		padding-top: 30px;
		padding-bottom: 30px;
		font-size: 14px;
	}
	header {
		text-align: center;
		padding-bottom: 20px;
		padding-left: 15px;
		padding-right: 15px;
		@include small-lap {
			padding-bottom: 0px;
		}
		@include breakpoint(laptop) {
			padding-bottom: 0px;
		}
		@include breakpoint(tablet) {
			padding-bottom: 0px;
		}
		h5 {
			margin-bottom: 30px;
			font-size: 2em;
			color:$text;
			font-weight: 300;
			@include breakpoint(tablet) {
				margin-bottom: 10px;
			}
		}		
	}
	#clients-slider {
		.item {
			.logos-box {
				position: relative;
				height: 200px;
				@include small-lap {
					height: 160px;
				}
				@include breakpoint(laptop) {
					height: 150px;
				}
				@include breakpoint(tablet) {
					height: 140px;
				}
				@include breakpoint(phone) {
					height: 180px;
				}
			    &:hover {
			    	img {
			    		opacity: 1;
			    		filter: grayscale(0%);
			    	}
			    }
			    img {
			    	@include centre(both);
	    			max-width: 80%;	
	    			filter: grayscale(100%);
	    			opacity: 0.3;	 
	    			@include small-lap {
	    				max-width: 75%;
	    			}   	
	    			@include breakpoint(laptop) {
	    				max-width: 75%;
	    			}
	    			@include breakpoint(tablet) {
	    				max-width: 75%;
	    			}
	    			@include breakpoint(phone) {
	    				max-height: 160px;
	    			}
			    }				
			}
		}
	}	
}

/*=====  End of Clients  ======*/
