/*===================================
=            Base Colors            =
===================================*/

$white:#fff;
$black:#000;

/*=====  End of Base Colors  ======*/

/*=====================================
=            Custom colors            =
=====================================*/


$dark:#252525;
$gray:#d7dadb;
$gray-light:#8a8d94;
$blue:rgb(45, 64, 89);
$blue-light:#77bcdb;
$red:#b22476;
$red-light:#942464;
$text: #333333;
$text-dark:#666666;

$main: $dark!default;

$opacity-bg: rgba(0,0,0,0.2);

/*=====  End of Custom colors  ======*/

/*====================================
=            Font Weights            =
====================================*/

$bold: 700;
$semi-bold: 600;
$regular: 400;
$light: 300;

/*=====  End of Font Weights  ======*/

/*==================================
=            Font Sizes            =
==================================*/

$base-size: 16px;

/*=====  End of Font Sizes  ======*/
