<div class="menu-overlay"></div>

<div class="main-menu-sidebar">
    <header>
        <span>Menu</span>
        <a href="javascript:;" class="close-menu-btn"><img src="/img/ico/close-menu.svg" alt=""></a>
    </header>

    <div id="menu">

        <ul class="nav-links">
            <li><a href='{{ $.Scratch.Get "homePage" }}'>{{ i18n "home" }}</a></li>
            <li class="has-menu"> <a href='{{ $.Scratch.Get "servicesPage" }}'>{{ i18n "our_services" }}</a>
                <ul>
                    {{ range where .Site.Pages "Type" "services"}}
                    {{ if eq .Parent.Params.identifiant "services" }}
                    <li><a href="{{.Permalink}}">{{.Params.titre}}</a></li>
                    {{ end }}
                    {{ end }}
                </ul>
            </li>                      
            <li><a href='{{ $.Scratch.Get "aboutPage" }}'>{{ i18n "about" }}</a></li>
            <!-- <li><a href='{{ $.Scratch.Get "articlesPage" }}'>{{ i18n "blog" }}</a></li> -->
            <li><a href='{{ $.Scratch.Get "clientsPage" }}'>{{ i18n "clients" }}</a></li>      
            <li><a href='{{ $.Scratch.Get "contactPage" }}'>{{ i18n "contact" }}</a></li> 
            {{ if .Params.translationlink }}
                {{ $link := .Params.translationlink }}
                <li><a href='{{ $link | absURL }}' class="title lang">{{ if eq $.Lang "fr" }}EN{{ else if eq $.Lang "en" }}FR{{ end }}</a></li>
            {{ else if .Translations }}
                {{ range .Translations }}
                <li><a href="{{.Permalink}}" class="title lang">{{ upper .Lang}}</a></li>
                {{ end }}
            {{ end }} 

        </ul>
        <!-- // ul  -->
    
    </div>
    <!-- // menu  -->

</div>
<!-- // menu sidebar  -->        

<a name="top"></a>
<header id="mas-header" class="navbar-fixed-top">

    <div id="top-bar">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-8 col-sm-9">
                    <div class="info-box">
                        <p><i class="fa fa-building" aria-hidden="true"></i> {{.Site.Data.settings.address.road}}, {{.Site.Data.settings.address.city}}</p>
                        <ul>
                            <li><a href='{{ $.Scratch.Get "contactPage"}}'><i class="fa fa-map-marker" aria-hidden="true"></i> {{ i18n "find" }}</a></li>
                            <li><a href="mailto:{{.Site.Data.settings.email}}"><i class="fa fa-envelope" aria-hidden="true"></i> {{ i18n "write_us" }}</a></li>
                        </ul>
                    </div>
                </div>
                <!-- // language  -->

                <div class="col-lg-4 col-md-4 col-sm-3">
                    <div class="contact-cta">
                        <a href='{{ $.Scratch.Get "contactPage"}}' class="contact-btn">{{ i18n "contact_us" }}</a>
                    </div>
                </div>
                <!-- // info  -->

            </div>
            <!-- // row  -->
        </div>
    </div>
    <!-- // top bar  -->
    
    <div class="branding-bar">
        <div class="container">

              <div class="navbar navbar-default yamm">
                  <div class="navbar-header">
                    <a href='{{.Site.BaseURL}}{{ i18n "link_en" }}' class="navbar-brand">
                        <img srcset="/img/site-logo.svg"  alt="" class="svg">
                    </a>

                    <div id="menu-btn-wrapepr" class="visible-xs">
                        <span class="menu-btn">
                            <a href="javascript:;">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </span>            
                    </div>
                    <!-- // wrapper  -->

                  </div>
                  <div id="navbar-collapse-grid" class="navbar-collapse collapse">
               <ul class="nav navbar-nav navbar-right">
                  <!-- Grid 12 Menu -->
                  <li><a href='{{ $.Scratch.Get "homePage" }}'>{{ i18n "home" }}</a></li>
                  <li class="dropdown yamm-fw"><a href='{{ $.Scratch.Get "servicesPage" }}' class="dropdown-toggle">{{ i18n "our_services" }}</a>
                    <ul class="dropdown-menu animated fadeIn">
                      <li class="grid-demo">
                        <div class="row">

                            <!-- <div class="col-md-3 col-sm-12">
                                <h5>{{ i18n "our_services" }}</h5>
                                <ul>
                                    {{ range where .Site.Pages "Type" "services"}}
                                    {{ if eq .Parent.Params.identifiant "services" }}
                                    <li><a href="{{.Permalink}}">{{.Params.titre}}</a></li>
                                    {{ end }}
                                    {{ end }}
                                </ul>
                            </div>  -->  
                            <!-- // mcol  -->
                            {{ range where .Site.Pages "Type" "services"}}
                            {{ if eq .Parent.Params.identifiant "services" }}
                            <div class="col-md-3 col-sm-6">
                                <h6><a href="{{.Permalink}}">{{.Params.titre}}</a></h6>
                                <div class="image-holder">
                                    <a href="{{.Permalink}}"><img src="{{.Params.image}}" alt="{{.Params.titre}}" class="img-responsive"></a>
                                </div>
                            </div>
                            {{ end }}
                            {{ end }}

                        </div>
                        <!-- // row  -->                          
                      </li>
                    </ul>
                  </li>
                  <!--With Offsets 
                  -->

                    <li><a href='{{ $.Scratch.Get "aboutPage" }}'>{{ i18n "about" }}</a></li>
                    <!-- <li><a href='{{ $.Scratch.Get "articlesPage" }}'>{{ i18n "blog" }}</a></li> -->
                    <li><a href='{{ $.Scratch.Get "clientsPage" }}'>{{ i18n "clients" }}</a></li>      
                    <li><a href='{{ $.Scratch.Get "contactPage" }}'>{{ i18n "contact" }}</a></li>
                    {{ if .Params.translationlink }}
                        {{ $link := .Params.translationlink }}
                        <li><a href='{{ $link | absURL }}' class="title lang">{{ if eq $.Lang "fr" }}EN{{ else if eq $.Lang "en" }}FR{{ end }}</a></li>
                    {{ else if .Translations }}
                        {{ range .Translations }}
                        <li><a href="{{.Permalink}}" class="title lang">{{ upper .Lang}}</a></li>
                        {{ end }}
                    {{ end }}  

                </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- // menu  -->

        </div>
        <!-- // container  -->
    </div>
    <!-- // branding bar  -->

</header>
<!-- // header  -->
